
#backgroundImage {
    background: url("../images/capetown.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
#proPic {
    border-radius: 50%;
}
.jumbotron {
    padding-bottom: 0px;
    margin-bottom: 0px;
}