html,
body {
    position: relative; 
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
}
.navbar{
    background:transparent;
    background-color:transparent;
    border-color:transparent;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: 0
}

#proPic {
    border-radius: 50%;
}
.container {
    margin: 0px;
    padding: 0px;
    
}

#sectionContainer {
    padding-top: 50px;
}

#section1 {
    background: url("../images/capetown.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    width: 100%;
    height: 100%;
    padding-top: 50px;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    color: white;
}
#section2 {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #673ab7;
}
#section3 {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #ff9800;
}
#section41 {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #00bcd4;
}
#section42 {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #009688;
}